<!--
  Se la chat è di tipo "private" (o qualsiasi cosa che non sia "match"), di default deve comparire un simbolo in "absolute" in cima a tutto
  che si espande quando premiamo "open chat" dalla friends list (quindi NON si espande quando ci clicchiamo sopra, ha solo scopo grafico)
-->

<div *ngIf="this.chatopened == true" class="pb-5 pt-6 pl-3 relative">
  <div *ngIf="chattype != 'match'" title="Close chat" (click)="closeChat()" class="cursor-pointer absolute left-0 top-0"> <!-- if we're in a match we can't close the chat-->
    <svg width="24" height="24" style="fill: black"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
  </div>
  <ul class="overflow-y-scroll overflow-x-hidden max-h-[380px]">
    <li *ngFor=" let message of this.messages">
      <a *ngIf="message.text_content != '' " class="font-bold text-xxs">{{ message.from + ':' }}</a>
      <a class="text-xxs">{{ message.text_content }}</a>
      <a *ngIf="message.text_content == '' " class="font-bold text-xxs"> ></a>
    </li>
  </ul>
  <div class="mt-5">
    <form class="relative flex items-center mr-3">
      <input class="chat" type="text" id="newmessage" [(ngModel)]="newmessage" name="newmessage"/>
      <button class="btn_alt absolute bottom-0 right-1 !bg-navy !text-white h-full px-2 py-1" (click)="sendMessage()">-></button>
    </form>
  </div>
</div>
