<div>
  <h1 class="text-center pb-5">My profile</h1>
  <div class="mb-10">
    <ul>
      <li> Nome Utente:     {{ this.current_user.username }}</li>
      <li> E-mail:          {{ this.current_user.email }}</li>
      <li> Partite giocate: {{ this.current_user.games_played }}</li>
    </ul>
  </div>
  <div>
    <ul *ngIf="this.friend_requests_list.length != undefined && this.friend_requests_list.length > 0"> PENDING FRIEND REQUESTS
      <li *ngFor="let receiver of this.friend_requests_list">
        {{ receiver }}
        <button (click)="acceptFriendRequest(receiver)">Accetta richiesta</button>
        <button (click)="rejectFriendRequest(receiver)">Rifiuta richiesta</button>
        <button (click)="blacklistUser(receiver)">Blocca utente</button>
      </li>
    </ul>
    <ul *ngIf="this.friends.length != undefined && this.friends.length > 0"> FRIENDS LIST
      <li *ngFor="let friend of this.friends">
        {{ friend }}
      </li>
    </ul>
  </div>
</div>
