<div *ngIf="this.chatopened == true" class="py-5 px-3 absolute bg-white text-black rounded-lg bottom-5 md:bottom-9 right-4 shadow-chat" :[ngClass]="{'!py-3 !rounded-full' : this.chatcollapse}" >
  <div *ngIf="this.chatcollapse == true" (click)="openChat()" class="cursor-pointer">
    <svg fill="#222222" height="40" width="40" viewBox="-6 -6 72.00 72.00" xml:space="preserve" stroke="#222222" stroke-width="0.0006000000000000001" transform="matrix(-1, 0, 0, 1, 0, 0)rotate(0)">
      <path d="M26,9.586C11.664,9.586,0,20.09,0,33c0,4.499,1.418,8.856,4.106,12.627c-0.51,5.578-1.86,9.712-3.813,11.666 c-0.304,0.304-0.38,0.768-0.188,1.153C0.276,58.789,0.625,59,1,59c0.046,0,0.093-0.003,0.14-0.01 c0.349-0.049,8.432-1.213,14.317-4.585c3.33,1.333,6.874,2.009,10.544,2.009c14.336,0,26-10.503,26-23.414S40.337,9.586,26,9.586z"></path>
      <path d="M55.894,37.042C58.582,33.27,60,28.912,60,24.414C60,11.503,48.337,1,34,1c-8.246,0-15.968,3.592-20.824,9.42 C17.021,8.614,21.38,7.586,26,7.586c15.439,0,28,11.4,28,25.414c0,5.506-1.945,10.604-5.236,14.77 c4.946,1.887,9.853,2.6,10.096,2.634c0.047,0.006,0.094,0.01,0.14,0.01c0.375,0,0.724-0.211,0.895-0.554 c0.192-0.385,0.116-0.849-0.188-1.153C57.753,46.753,56.403,42.619,55.894,37.042z"></path>
    </svg>
  </div>
  <div *ngIf="this.chatcollapse == false">
    <!-- *ngIf="chattype == 'private'" -->
    <div title="Close chat" (click)="closeChat()" class="cursor-pointer absolute -left-2 -top-2 bg-black-dark rounded-full"> <!-- if we're in a match we can't close the chat-->
      <svg width="24" height="24" style="fill: white"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
    </div>
    <ul class="chat_list overflow-y-auto overflow-x-hidden w-[270px] h-[250px]" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <li *ngFor="let message of this.messages">
        <span *ngIf="message.text_content != '' " class="font-bold text-xxs">{{ message.from + ':' }}</span>
        <span class="text-xxs break-words">{{ message.text_content }}</span>
        <span *ngIf="message.text_content == '' " class="font-bold text-xxs"> ></span>
      </li>
    </ul>
    <form class="relative flex items-center mt-2.5">
      <input class="chat" type="text" id="newmessage" [(ngModel)]="newmessage" name="newmessage"/>
      <button
        class="btn btn_black absolute bottom-[3px] right-1.5 !rounded-full !px-1.5 !py-1.5 flex items-center fill-white stroke-white hover:fill-black hover:stroke-black"
        (click)="sendMessage()"
      >
        <svg class="w-2.5 h-2.5" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="1036">
          <line x1="22" y1="2" x2="11" y2="13"></line>
          <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
        </svg>
      </button>
    </form>
  </div>
</div>