<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Battleship Game</name>
    <description>A battleship game</description>
    <base href="./"></base>
        <icon src="\platforms\android\app\src\main\res\logo.png" platform="android" width="57" height="57" density="mdpi" />
        <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
            Cecconello Gabriele, Mazzon Edoardo
        </author>
        <content src="index.html"></content>        
        <allow-intent href="*" />        
        <allow-navigation href="*" />
        <access origin="*"></access>
        <preference name="DisallowOverscroll" value="true"/>
        <preference name="Fullscreen" value="true" />
        <preference name="BackgroundColor" value="0xff0000ff"/>
        <preference name="HideKeyboardFormAccessoryBar" value="true"/>
        <preference name="Orientation" value="portrait" />
        <preference name="InAppBrowserStorageEnabled" value="true"/>
        <preference name="AndroidLaunchMode" value="singleTask" /> <!-- Questo evita che vengano aperte più istanze della stessa app nell'emulatore -->
        <preference name="Scheme" value="http" /> <!-- Questo ci ha salvati -->

        <!-- Questi sotto in teoria non servono ma metti che vengano fuori casini li lasciamo qua, ci ho messo troppo tempo a trovarli su internet per eliminarli così -->
        <!-- <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent-filter>
        <platform name="android">
            <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
                <application android:usesCleartextTraffic="true" />
            </edit-config>
        </platform> -->
</widget>
