<div *ngIf=" !isadmin ">
  <!-- Commentare il div sottostante se si vuole avere i campi di prova subito in alto nella home -->
  <div class="game-container w-50">
    <div *ngIf="isplaying">
      <app-game></app-game>
    </div>

    <div *ngIf="!isplaying">
      <div *ngIf="!isspectating">
        <div class="grid grid-cols-2 gap-x-10 max-w-[480px] lg:max-w-[1024px] mx-auto">
          <ul *ngFor="let match of ongoing_matches">
            <li *ngIf="match.player1 != current_user.username && match.player2 != current_user.username">
              {{ match.player1 }} vs {{ match.player2 }}
              <button class="btn btn_red" (click)="startSpectating(match.player1, match.player2)">Spectate match</button>
            </li>
          </ul>
          <app-my-profile></app-my-profile><!-- :[ngClass]="{'flex justify-center': ongoing_matches <= 0 }" -->
        </div>

        <div class="text-center my-8">
          <button *ngIf="!isready" class="text-center btn btn_green" (click)="readyUp()">Ready up</button>
          <button *ngIf="isready"  class="btn btn_red" (click)="cancelMatchMaking()">Cancel Matchmaking</button>
        </div>
      </div>

      <div *ngIf="isspectating">
        <app-spectate></app-spectate>
        <div class="text-center pt-4">
          <button class="btn btn_red" (click)="stopSpectating()">Stop spectating</button>
        </div>
      </div>

      <app-chat></app-chat>

    </div>



  </div>
  <!-- Commentare fino a qui-->
</div>


<!-- ADMINISTRATOR CONTROL PANEL -->
<div *ngIf="isadmin">
  <app-admin-dashboard></app-admin-dashboard>
</div>
