<div>
  <!-- Commentare il div sottostante se si vuole avere i campi di prova subito in alto nella home -->
  <div class="game-container h-screen w-50 bg-navy">
    <h1 class="text-center pt-5">Battleship game</h1>

    <div *ngIf="isplaying">
      <app-game></app-game>
    </div>

  <div *ngIf="!isplaying">
    <div *ngIf="!isspectating">
      <button *ngIf="!isready" class="btn !bg-success" (click)="readyUp()"> Ready up</button>
      <button *ngIf="isready"  class="btn !bg-error" (click)="cancelMatchMaking()"> Cancel Matchmaking</button>
      <app-my-profile></app-my-profile>
      <ul *ngFor="let match of ongoing_matches">
        <li>
          {{ match.player1 }} vs {{ match.player2 }}
          <button class="btn !bg-success" (click)="startSpectating(match.player1, match.player2)">Spectate match</button>
        </li>
      </ul>
    </div>

    <div *ngIf="isspectating">
      <app-spectate></app-spectate>
    </div>

  </div>



  </div>
  <!-- Commentare fino a qui-->
</div>
