<div>
  <!-- Commentare il div sottostante se si vuole avere i campi di prova subito in alto nella home -->
  <div class="game-container h-screen w-50 bg-navy">
    <h1 class="text-center pt-5">Battleship game</h1>

    <div class="md:flex mt-6">
      <div class="game md:flex w-3/4">
        <div class="bg-gray-700 h-80 w-1/2 mr-5"><p>avv1</p></div>
        <div class="bg-gray-700 h-80 w-1/2"><p>avv2</p></div>
      </div>
      <div class="chat-live w-1/4 ml-8 h-full">
        <div class="bg-gray-300 h-80">
          <app-chat></app-chat>
        </div>
      </div>
    </div>
  </div>
  <!-- Commentare fino a qui-->
</div>
