<h1 class="text-center break-words md:break-normal">Administrator panel</h1>
<div class="flex flex-col items-center gap-8 mt-10 md:mt-5 px-5 md:px-10">
  <!-- Administrator Home Page, where he can chose to enter the functionalities or statistics section -->
  <div *ngIf="!statisticssection && !functionalitiessection" class="flex flex-col md:flex-row items-center gap-10">
    <button class="btn btn_ylw" (click)="openFunctionalitiesSection()">Manage Users</button>
    <button class="btn" (click)="openStatisticsSection()">User Statistics</button>
  </div>


  <!-- Functionalities Section (ban, unban, promote, wipe statistics, notify users)-->
  <div *ngIf="functionalitiessection">
    <div class="flex flex-col md:flex-row md:items-center justify-between mb-5">
      <p class="text-base font-bold uppercase">All users</p>
      <form class="mt-8 md:mt-0">
        <label class="text-xxs">Search users</label>
        <input type="text" id="username" [(ngModel)]="searched_name" name="username" class="smaller min-w-[250px]" />
        <button (click)="searchUsers()" class="h-0"></button>
      </form>
    </div>
    <ul class="max-h-[250px] overflow-y-auto">
      <li *ngFor="let user of users" class="flex flex-col gap-y-2.5 md:flex-row md:flex-wrap md:justify-between md:items-center mb-6">
        <div>
          <p class="text-xs">{{ user.username }}</p>
          <p class="text-xxs">{{ user.role }}</p>
        </div>
        <div class="md:ml-10 flex gap-y-2.5 gap-x-5 flex-wrap items-center">
          <button class="btn btn_red btn_little" (click)="confirmBan(user.username)" [ngClass]="{'pointer-events-none btn_gray': user.isbanned || user.role == 'admin'}">Ban</button>
          <button class="btn btn_green btn_little" (click)="confirmUnban(user.username)" [ngClass]="{'pointer-events-none btn_gray': !user.isbanned}">Unban</button>
          <button class="btn btn_little" (click)="confirmForcePasswordChange(user.username)">Force password change</button>
          <button class="btn btn_green btn_little" (click)="confirmPromote(user.username)" [ngClass]="{'pointer-events-none btn_gray': user.role == 'admin'}">Promote</button>
          <button class="btn btn_ylw btn_little" (click)="confirmWipe(user.username)">Wipe stats</button>

          <button class="btn btn_little" (click)="promptNotificationToUser(user.username)">Notify</button>
        </div>
      </li>
    </ul>
    <button class="btn block mx-auto mt-8 md:mt-2.5" (click)="promptNotificationToAllUsers()">Notify all</button>
  </div>

  <!-- Statistics Section (order by games played, games won, winrate, games lost, accuracy, winstreak) -->
  <div *ngIf="statisticssection" class="px-5 max-h-[380px] md:max-h-[740px] lg:max-h-[300px] overflow-auto">
    <table class="hidden lg:block">
      <thead>
        <tr>
          <th>
            <div class="bg-sepia p-2 flex justify-between items-center whitespace-nowrap">
              <p>User</p>
              <svg class="cursor-pointer" (click)="orderByAlpha(current_order)" width="24" height="24" style="fill:#fff">
                <path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"></path>
              </svg>
            </div>
          </th>
          <th>
            <div class="bg-sepia p-2 flex justify-between items-center whitespace-nowrap">
              <p>Win Rate</p>
              <svg class="cursor-pointer" (click)="orderByWinrate(current_order)" width="24" height="24" style="fill:#fff">
                <path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"></path>
              </svg>
            </div>
          </th>

          <th>
            <div class="bg-sepia p-2 flex justify-between items-center whitespace-nowrap">
              <p>Games</p>
              <svg class="cursor-pointer" (click)="orderByGamesplayed(current_order)" width="24" height="24" style="fill:#fff">
                <path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"></path>
              </svg>
            </div>
          </th>
          <th>
            <div class="bg-sepia p-2 flex justify-between items-center whitespace-nowrap">
              <p>Accuracy</p>
              <svg class="cursor-pointer" (click)="orderByAccuracy(current_order)" width="24" height="24" style="fill:#fff">
                <path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"></path>
              </svg>
            </div>
          </th>
          <th>
            <div class="bg-sepia p-2 flex justify-between items-center whitespace-nowrap">
              <p>Longest Winstreak</p>
              <svg class="cursor-pointer" (click)="orderByLongestStreak(current_order)" width="24" height="24" style="fill:#fff">
                <path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"></path>
              </svg>
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="pt-2 border-l border-b border-r border-white">
        <!-- Showing all users except administrators -->
        <tr *ngFor="let user of users" class="text-center border-b border-white">
          <td *ngIf="user.role != 'admin'" class="flex flex-col border-r border-white"><span>{{user.username}}</span><span>({{user.email}})</span></td>
          <td *ngIf="user.role != 'admin'" class="border-r border-white">{{user.winrate ? user.winrate : 0}}%</td>
          <td *ngIf="user.role != 'admin'" class="border-r border-white">{{user.games_played}} ({{user.games_won}} - {{user.games_lost ? user.games_lost : 0}})</td>
          <td *ngIf="user.role != 'admin'" class="border-r border-white">{{user.accuracy}}%</td>
          <td *ngIf="user.role != 'admin'" class="border-r border-white">{{user.max_winstreak}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngFor="let user of users" class="lg:hidden">
      <div *ngIf="user.role != 'admin'" class="single_user border-b border-white mb-10 text-center md:grid md:grid-cols-3">
        <div class="flex flex-col gap-y-2 mb-5">
          <span class="text-base">Username</span>
          <span class="font-bold">{{user.username}}</span>
        </div>
        <div class="flex flex-col gap-y-2 mb-5">
          <span class="text-base">Email</span>
          <span class="font-bold">{{user.email}}</span>
        </div>
        <div class="flex flex-col gap-y-2 mb-5">
          <span class="text-base">Win Rate</span>
          <span class="font-bold">{{user.winrate ? user.winrate : 0}}%</span>
        </div>
        <div class="flex flex-col gap-y-2 mb-5">
          <span class="text-base">Games</span>
          <span class="font-bold">{{user.games_played}} ({{user.games_won}} - {{user.games_lost ? user.games_lost : 0}})</span>
        </div>
        <div class="flex flex-col gap-y-2 mb-5">
          <span class="text-base">Accuracy</span>
          <span class="font-bold">{{user.accuracy}}%</span>
        </div>
        <div class="flex flex-col gap-y-2 mb-5">
          <span class="text-base">Longest Winstreak</span>
          <span class="font-bold">{{user.max_winstreak}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center gap-2">
    <button *ngIf="statisticssection" class="btn btn_green block mx-auto lg:mt-7" (click)="getAllUsers()">Refresh</button>
    <!-- Back to admin home button -->
    <div *ngIf="functionalitiessection || statisticssection">
      <button class="btn btn_gray font-bold" (click)="backToAdminHome()">Back</button>
    </div>
  </div>
</div>
