<h1>Registrati</h1>

<div>
  <form>
    <div>
      <label for="email">Email</label>
      <!-- Qui mettiamo [(ngModel)] per il two-way-binding di angular grazie all'import del modulo FormsModule da @angular/forms -->
      <input type="text" id="email" [(ngModel)]="newuser.email" name="email"/>
      <!-- Qui chiamiamo la registerUser() nella register.component.ts che a sua volta chiamerà la addUser() di register.service.ts -->
      <button (click)="registerUser()">Conferma</button>
    </div>
  </form>
</div>
