<div class="absolute top-full right-5 md:right-48 bg-white text-black p-2 flex flex-col items-center z-10  min-w-[250px] lg:min-w-[420px] rounded-lg">
  <!-- In this section we show our friend requests with the possibility of looking up users to send them a friend request or block them -->
  <p class="mb-1 font-bold uppercase">Notifications</p>
  <ul *ngIf="notifications.length > 0">
    <li *ngFor="let notification of notifications" class="py-2 border-b border-sepia last:border-0">
      <div *ngIf="notification != undefined && notification != null && notification.notification_type == 'matchinvite'" class="flex items-center flex-col md:flex-row justify-between gap-x-3">
        <strong>{{ notification.from }}</strong> invited you to a game
        <button
          class="btn !py-1 !px-2 btn_green after:content-['\2713'] after:text-xxs hover:after:text-black"
          (click)="acceptMatch(notification.from); markNotificationAsRead(notification)"
        ></button>

          <svg width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 0, 0)" (click)="markNotificationAsRead(notification)">
            <path d="M9.172 16.242 12 13.414l2.828 2.828 1.414-1.414L13.414 12l2.828-2.828-1.414-1.414L12 10.586 9.172 7.758 7.758 9.172 10.586 12l-2.828 2.828z"></path><path d="M12 22c5.514 0 10-4.486 10-10S17.514 2 12 2 2 6.486 2 12s4.486 10 10 10zm0-18c4.411 0 8 3.589 8 8s-3.589 8-8 8-8-3.589-8-8 3.589-8 8-8z">
            </path>
          </svg>



      </div>
      <div *ngIf="notification != undefined && notification != null && notification.notification_type == 'friendnotavailable'" class="text-red-error text-xs">
        {{ notification.from }} is no longer available
      </div>
      <div *ngIf="notification != undefined && notification != null && notification.notification_type == 'newmessage'" class="flex items-center flex-col md:flex-row justify-between gap-x-3">
        Unread messages from <strong>{{ notification.from }}</strong>
        <button class="btn !py-1 !px-2 btn_green fill-white hover:fill-black" (click)="openChat(notification.from); markNotificationAsRead(notification)">
          <svg class="w-4 h-4" viewBox="0 0 24 24">
            <path d="M16 2H8C4.691 2 2 4.691 2 8v13a1 1 0 0 0 1 1h13c3.309 0 6-2.691 6-6V8c0-3.309-2.691-6-6-6zm4 14c0 2.206-1.794 4-4 4H4V8c0-2.206 1.794-4 4-4h8c2.206 0 4 1.794 4 4v8z"></path>
            <path d="M7 9h10v2H7zm0 4h7v2H7z"></path>
          </svg>
        </button>
      </div>
      <div *ngIf="notification != undefined && notification != null && notification.notification_type == 'modmessage'" class="flex items-center flex-col md:flex-row justify-between gap-x-3">
        <p><strong>Mod: </strong><span class="text-xxs text-yellow-warning">{{notification.text_content}}</span></p>
        <button class="btn btn_green" (click)="markNotificationAsRead(notification)">Ok</button>
      </div>
    </li>
  </ul>
  <div *ngIf="notifications.length <= 0" class="mt-2"><p>No notifications yet</p></div>
</div>

