<!-- Administrator Home Page, where he can chose to enter the functionalities or statistics section -->
<div *ngIf="!statisticssection && !functionalitiessection">
  <button class="btn !bg-yellow-warning" (click)="openFunctionalitiesSection()">Manage Users</button>
  <button class="btn" (click)="openStatisticsSection()">User Statistics</button>
</div>


<!-- Functionalities Section (ban, unban, promote, wipe statistics, notify users)-->
<div *ngIf="functionalitiessection">
  <ul> ALL USERS
    <li *ngFor="let user of users">
      {{ user.username }}
      <button class="btn !bg-red-error" (click)="confirmBan(user.username)" [ngClass]="{'pointer-events-none !bg-gray-400': user.isbanned}">Ban</button>
      <button class="btn !bg-success" (click)="confirmUnban(user.username)" [ngClass]="{'pointer-events-none !bg-gray-400': !user.isbanned}">Unban</button>
      <button class="btn !bg-green" (click)="confirmPromote(user.username)" [ngClass]="{'pointer-events-none !bg-gray-400': user.role == 'admin'}">Promote</button>
      <button class="btn !bg-yellow-warning" (click)="confirmWipe(user.username)">Wipe stats</button>
      <button class="btn" (click)="promptNotificationToUser(user.username)">Notify</button>
    </li>
  </ul>
  <form>
    <div>
      <input type="text" id="username" [(ngModel)]="searched_name" name="username" class="min-w-[480px]" />
      <button (click)="searchUsers()"></button>
    </div>
  </form>
</div>

<!-- Statistics Section (order by games played, games won, winrate, games lost, accuracy, winstreak) -->
<div *ngIf="statisticssection">
  <table class="table-auto">
    <thead>
      <tr>
        <th>Username <svg class="cursor-pointer" (click)="orderByAlpha(current_order)" width="24" height="24" style="fill: rgba(0, 0, 0, 1)"><path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"></path></svg></th>
        <th>Email </th>
        <th>Win Rate <svg class="cursor-pointer" (click)="orderByWinrate(current_order)" width="24" height="24" style="fill: rgba(0, 0, 0, 1)"><path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"></path></svg></th>
        <th>Games Won <svg class="cursor-pointer" (click)="orderByGameswon(current_order)" width="24" height="24" style="fill: rgba(0, 0, 0, 1)"><path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"></path></svg></th>
        <th>Games Lost <svg class="cursor-pointer" (click)="orderByGameslost(current_order)" width="24" height="24" style="fill: rgba(0, 0, 0, 1)"><path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"></path></svg></th>
        <th>Games Played <svg class="cursor-pointer" (click)="orderByGamesplayed(current_order)" width="24" height="24" style="fill: rgba(0, 0, 0, 1)"><path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"></path></svg></th>
        <th>Accuracy <svg class="cursor-pointer" (click)="orderByAccuracy(current_order)" width="24" height="24" style="fill: rgba(0, 0, 0, 1)"><path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"></path></svg></th>
        <th>Longest Winstreak <svg class="cursor-pointer" (click)="orderByLongestStreak(current_order)" width="24" height="24" style="fill: rgba(0, 0, 0, 1)"><path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"></path></svg></th>
        <th> <button class="btn !bg-success" (click)="getAllUsers()">Refresh</button></th>
      </tr>
    </thead>
    <tbody>
      <!-- Showing all users except administrators -->
      <tr *ngFor="let user of users" class="text-center">
        <td *ngIf="user.role != 'admin'">{{user.username}}</td>
        <td *ngIf="user.role != 'admin'">{{user.email}}</td>
        <td *ngIf="user.role != 'admin'">{{user.winrate}}%</td>
        <td *ngIf="user.role != 'admin'">{{user.games_won}}</td>
        <td *ngIf="user.role != 'admin'">{{user.games_lost}}</td>
        <td *ngIf="user.role != 'admin'">{{user.games_played}}</td>
        <td *ngIf="user.role != 'admin'">{{user.accuracy}}%</td>
        <td *ngIf="user.role != 'admin'">{{user.max_winstreak}}</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Back to admin home button -->
<div *ngIf="functionalitiessection || statisticssection">
  <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center" (click)="backToAdminHome()">
    Back
  </button>
</div>
<button class="btn" (click)="promptNotificationToAllUsers()"> Notify all </button>
