<div *ngIf=" !isadmin ">
  <div class="game-container">
    <div *ngIf="isplaying">
      <app-game></app-game>
    </div>

    <!-- When the user is not playing a game-->
    <div *ngIf="!isplaying">
      <div *ngIf="!isspectating">

        <app-my-profile class="flex justify-center"></app-my-profile>

        <div class="grid grid-cols-2 gap-x-2.5 md:gap-x-10 md:max-w-[480px] lg:max-w-[1024px] mx-auto border-t border-sepia mt-10 pt-10">
          <!-- Ongoing Matches List -->
          <div class="text-center">
            <h4 class="mb-2.5">Ongoing matches</h4>
            <span *ngIf="ongoing_matches.length <= 0">No ongoing matches yet</span>
            <ul  class="flex flex-col gap-y-1 mx-auto md:max-w-[380px] md:max-h-[150px] overflow-y-auto pr-2.5">
              <li *ngFor="let match of ongoing_matches" class="flex items-center justify-between">
                <span>{{ match.player1 }} <b>vs</b> {{ match.player2 }}</span>
                <button class="btn btn_red" (click)="startSpectating(match.player1, match.player2)">Spectate</button>
              </li>
            </ul>
          </div>

          <!-- Recently Played List -->
          <div class="text-center">
            <h4 class="mb-2.5">Recently played</h4>
            <span *ngIf="recently_played.length <= 0">No games played yet</span>
            <ul class="flex flex-col gap-y-1 mx-auto md:max-w-[250px] md:max-h-[150px] overflow-y-auto pr-2.5 relative">
              <li *ngFor="let user of recently_played" class="flex items-center justify-between">
                <!-- with the "[title]" field below we pass the user's username as an argument to the UserInfo component -->
                <app-userinfo [title]="user"></app-userinfo>
                <button *ngIf="!current_user.friends_list.includes(user)" title="Send friend request" (click)="sendFriendRequest(user)">
                  <svg class="w-6 h-6 fill-success">
                    <path d="M19 8h-2v3h-3v2h3v3h2v-3h3v-2h-3zM4 8a3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4 3.91 3.91 0 0 0-4 4zm6 0a1.91 1.91 0 0 1-2 2 1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2zM4 18a3 3 0 0 1 3-3h2a3 3 0 0 1 3 3v1h2v-1a5 5 0 0 0-5-5H7a5 5 0 0 0-5 5v1h2z"></path>
                  </svg>
                </button>
                <button *ngIf="current_user.friends_list.includes(user)" title="Invite to a match" (click)="inviteToPlay(user)">
                  <svg class="w-6 h-6 fill-success">
                    <path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm1 17.931V17h-2v2.931A8.008 8.008 0 0 1 4.069 13H7v-2H4.069A8.008 8.008 0 0 1 11 4.069V7h2V4.069A8.007 8.007 0 0 1 19.931 11H17v2h2.931A8.008 8.008 0 0 1 13 19.931z"></path>
                  </svg>
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="text-center mt-10 mb-4">
          <button *ngIf="!isready" class="text-center btn btn_green" (click)="readyUp()">Ready up</button>
          <button *ngIf="isready"  class="btn btn_red" (click)="cancelMatchMaking()">Cancel Matchmaking</button>
        </div>
      </div>

      <div *ngIf="isspectating">
        <app-spectate></app-spectate>
        <div class="text-center">
          <button class="btn btn_red" (click)="stopSpectating()">Stop spectating</button>
        </div>
      </div>

      <app-chat></app-chat>
    </div>
  </div>
</div>

<!-- ADMINISTRATOR CONTROL PANEL -->
<div *ngIf="isadmin">
  <app-admin-dashboard></app-admin-dashboard>
</div>
