<div class="pb-5 pt-6 pl-3 relative">
  <ul class="overflow-y-scroll overflow-x-hidden max-h-[380px]">
    <li *ngFor=" let message of this.messages">
      <a *ngIf="message.text_content != '' " class="font-bold text-xxs">{{ message.from + ':' }}</a>
      <a class="text-xxs">{{ message.text_content }}</a>
    </li>
  </ul>
  <div class="mt-5">
    <form class="relative flex items-center mr-3">
      <input class="chat" type="text" id="newmessage" [(ngModel)]="newmessage" name="newmessage"/>
      <button class="btn_alt absolute bottom-0 right-1 !bg-navy !text-white h-full px-2 py-1" (click)="sendMessage()">-></button>
    </form>
  </div>
</div>
